
# Environments
.env
.venv/*
env/*
venv/*
ENV/*
env.bak
venv.bak
.vscode/*

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# Logs, databases, uploads and private files
*.log
*.sql
*.sqlite*
*/*.sqlite3
*.rdb
*.json
!example_testuser.json/.gitkeep
# info.txt
# memento.txt
# test.txt
data.json
backup.json
db_fixtures.json
private_info.txt
# **/static/uploads
# **/static/test
# **static/logs
static/uploads/*
static/test/*


# Python
.Python
*.pyc
*/__pycache__/*

# Migrations
*/migrations/*


