{% load i18n %}
{% autoescape off %}
    {% blocktranslate %}Otrzymałeś tego maila w odpowiedzi na żądanie zmiany hasła dla Twojego konta na stronie {{ site_name }}.{% endblocktranslate %}

    {% translate "Kliknij w poniższy link i ustal nowe hasło:" %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% translate 'Twoja nazwa użytkownika (na wypadek gdybyś zapomniał ;) to:' %} {{ user.get_username }}

    {% translate "Dziękujemy za korzystanie z naszego portalu!" %}

    {% blocktranslate %}Zespół Memento ({{ site_name }}). {% endblocktranslate %}
{% endautoescape %}

{% comment %} https://github.com/django/django/blob/main/django/contrib/admin/templates/registration/password_reset_email.html {% endcomment %}
{% comment %} https://github.com/django/django/blob/main/django/contrib/auth/forms.py {% endcomment %}
{% comment %} https://github.com/django/django/blob/main/django/contrib/auth/views.py {% endcomment %}