{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="content">

    <div class="form_img"><img src="{% static 'images/vecteezy_successful-business-partnership-formed-through-handshake_32947251_SMALL.jpg' %}" alt="Foto"/></div>
    {% if page == 'add-counterparty'%}
        <h2>Dodaj kontrahenta (lub polisę)</h2>
        <form method="post" action="{% url 'connection:add-counterparty' %}">
    {% else %}
        <h2>Edytuj kontrahenta (lub polisę)</h2>
        <form method="post" action="{% url 'connection:edit-counterparty' cp.id %}">
    {% endif %}
        {% csrf_token %}
        <div class="form_field">
            <fieldset>
                <legend>Przypisz kontrahenta do odpowiedniego pola</legend>
                <small>Uwaga: wybór opcjonalny, można pominąć.</small>
                {% for field in form %}
                    {% if field.label == 'Wybierz płatności' or field.label == 'Wybierz kredyty' or field.label == 'Wybierz remonty' or field.label == 'Wybierz podróże' %}
                    <div class="one_field">
                        <div class="label_field">{{ field.label }}:</div>
                        <div class="value_field">{{ field }}</div>
                        {% if field.help_text %}<div class="help_text_field">{{ field.help_text }}</div>{% endif %}
                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>Podstawowe dane dotyczące kontrahenta (lub polisy)</legend>
                {% for field in form %}
                    {% if field.label == 'Imię i nazwisko' or field.label == 'Numer telefonu' or field.label == 'Adres email' or field.label == 'Dostęp do danych' %}
                    {% elif field.label == 'Wybierz płatności' or field.label == 'Wybierz kredyty' or field.label == 'Wybierz remonty' or field.label == 'Wybierz podróże' %}
                    {% else %}
                    <div class="one_field">
                        {% if field.label == 'Nazwa' %}<div class="label_field">Nazwa kontrahenta (lub ubezpieczyciela):</div>
                        {% elif field.label == 'Aplikacja do zarządzania płatnościami' %}<div class="label_field">Aplikacja do zarządzania płatnościami (lub ubezpieczeniem/polisą):</div>
                        {% elif field.label == 'Numer płatnika (klienta)' %}<div class="label_field">Numer klienta (lub polisy):</div>{% else %}<div class="label_field">{{ field.label }}:</div>{% endif %}
                        <div class="value_field">{{ field }}</div>
                        {% if field.help_text %}<div class="help_text_field">{{ field.help_text }}</div>{% endif %}
                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>Osoba do kontaktu</legend>
                {% for field in form %}
                    {% if field.label == 'Imię i nazwisko' or field.label == 'Numer telefonu' or field.label == 'Adres email' %}
                    <div class="one_field">
                        <div class="label_field">{{ field.label }}:</div>
                        <div class="value_field">{{ field }}</div>
                        {% if field.help_text %}<div class="help_text_field">{{ field.help_text }}</div>{% endif %}
                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <hr><br>
            <fieldset class="access_form">
                <legend>Podgląd danych dla wskazanego użytkownika</legend>
                {% for field in form %}
                    {% if field.label == 'Dostęp do danych' %}
                    <div class="one_field">
                        <div class="label_field">{{ field.label }}:</div>
                        <div class="value_field">{{ field }}</div>
                        {% if field.help_text %}<div class="help_text_field">{{ field.help_text }}</div>{% endif %}
                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                        <small>By udzielić dostęp należy w danych osobowych wskazać adres mailowy użytkownika.</small>
                    </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <br>
            <div class="one_field">
                <input type="submit" value="Zapisz"/>
            </div>
        </div>
        </form>
        <div class="text_field">
            <p>Nie chcesz modyfikować kontrahenta? <a href="{% url 'connection:counterparties' %}"><button class="button">Powrót</button></a></p>
        </div>
</div>
{% endblock content %}