{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="content">

	<h2>Informacje o kontrahencie</h2>
	{% comment %}<div class="name">{{ cp.name }}</div>{% endcomment %}
	<div class="single_table">
		<table id="tbl_exporttable_to_xls" style="min-width: 500px;">
			<thead>
				<tr>
					<td>Nazwa:</td>
					<td>{{ cp.name }}</td>
				</tr>
			</thead>
			{% for field, value in cp %}
				{% if field == 'id' or field == 'Użytkownik' or field == 'Data dodania' or field == 'Nazwa' or field == 'Dostęp do danych'%}
				{% elif value == 'None' or value == '' %}
				{% else %}
					<tbody>
						<tr>
							{% if field == 'Numer płatnika (klienta)' %}
								<td style="border-bottom: 1px solid #F9F1CF;">Numer klienta (lub polisy):</td>
								<td style="border-bottom: 1px solid #F9F1CF;">{% if value == 'None' %}---{% else %}{{ value }}{% endif %}</td>
							{% elif field == 'Data aktualizacji' or field == 'Uwagi' %}
								<td style="border-top: 1px solid #F9F1CF;">{{ field }}:</td>
								<td style="border-top: 1px solid #F9F1CF;">{% if value == 'None' or value == '' %}---{% else %}{{ value }}{% endif %}</td>
							{% else %}
								<td>{{ field }}:</td>
								<td>{% if value == 'None' %}---{% else %}{{ value }}{% endif %}</td>
							{% endif %}
						</tr>
					</tbody>
				{% endif %}
			{% endfor %}
			<tbody>
				<tr>
					<td style="border-top: 1px solid #F9F1CF;">Powiązane płatności:</td>
					{% if cp.payments.all %}
						<td style="line-height: 5px; border-top: 1px solid #F9F1CF;">{% for payment in cp.payments.all %}<a href="{% url 'payment:single-payment' payment.id %}">{{ payment.name|linebreaks }}</a>{% endfor %}</td>
					{% else %}
						<td style="line-height: 5px; border-top: 1px solid #F9F1CF;"><a href="{% url 'payment:add-payment' %}">Dodaj płatność</a></td>
					{% endif %}
				</tr>
				<tr>
					<td>Powiązane kredyty:</td>
					{% if cp.credits.all %}
						<td style="line-height: 5px;">{% for credit in cp.credits.all %}<a href="{% url 'credit:single-credit' credit.id %}">{{ credit.name|linebreaks }}</a>{% endfor %}</td>
					{% else %}
						<td style="line-height: 5px;"><a href="{% url 'credit:add-credit' %}">Dodaj kredyt</a></td>
					{% endif %}
				</tr>
				<tr>
					<td>Powiązane remonty:</td>
					{% if cp.renovations.all %}
						<td style="line-height: 5px; ">{% for renovation in cp.renovations.all %}<a href="{% url 'renovation:single-renovation' renovation.id %}">{{ renovation.name|linebreaks }}</a>{% endfor %}</td>
					{% else %}
						<td style="line-height: 5px;"><a href="{% url 'renovation:add-renovation' %}">Dodaj remont</a></td>
					{% endif %}
				</tr>
				<tr>
					<td>Powiązane podróże:</td>
					{% if cp.trips.all %}
						<td style="line-height: 5px; ">{% for trip in cp.trips.all %}<a href="{% url 'trip:single-trip' trip.id %}">{{ trip.name|linebreaks }}</a>{% endfor %}</td>
					{% else %}
						<td style="line-height: 5px;"><a href="{% url 'trip:add-trip' %}">Dodaj podróż</a></td>
					{% endif %}
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<small>
			<a href="{% url 'connection:counterparties' %}">[Powrót]</a> |
			<button class="export_button" onclick="ExportToExcel('xlsx')">[Eksportuj tabelę]</button>
			<br>
			<a href="{% url 'connection:edit-counterparty' cp.id %}">[Aktualizuj dane]</a> |
			<a href="{% url 'connection:delete-counterparty' cp.id %}">[Usuń kontrahenta]</a> |
			<a href="{% url 'connection:add-counterparty' %}">[Dodaj nowego kontrahenta]</a>
		</small>
	</div>

	<br>
	<div>
		<small>
		Przyznany dostęp do danych:
			{% if cp.access_granted == 'Brak dostępu' %}Brak dostępu.
			{% elif cp.access_granted == 'Udostępnij dane' %}
				{% if profile.access_granted_to == None %}<a href="{% url 'edit-account' %}">uzupełnij email osoby z dostępem do danych.</a> <i class="fa-solid fa-pen-to-square" style="color: rgba(18, 30, 40);"></i>
				{% else %}{{ profile.access_granted_to }}.
				{% endif %}
			{% endif %}
		</small>
	</div>
	<div>
		<small>Data utworzenia kontrahenta: {{ cp.created }}.</small>
	</div>

</div>

<br>

<div class="content">

	<h2>Załączniki</h2>
	{% if not attachments %}
		<div>
		<p>Brak załączników.</p>
		<p><a href="{% url 'connection:add-attachment' %}">[Dodaj załącznik]</a></p>
		</div>
	{% else %}
		<div class="single_table">
			<table>
				<thead>
					<tr>
						<td>Nazwa dokumentu</td>
						<td>Informacja o pliku</td>
						<td style="text-align: center; border-left: 1px dashed #F9F1CF;">Data dodania</td>
						<td style="text-align: center;">Data ostatniej modyfikacji</td>
						<td style="text-align: center; border-left: 1px dashed #F9F1CF;">Pobierz</td>
						<td style="text-align: center;">Usuń</td>
					</tr>
				</thead>
				<tbody>
					{% for attachment in attachments %}
						<tr>
							<td>{{ attachment.attachment_name }}</td>
							<td>{% if attachment.file_info == 'None' or attachment.file_info == "" %}---{% else %}{{ attachment.file_info }}{% endif %}</td>
							<td style="border-left: 1px dashed #F9F1CF; text-align: center;">{{ attachment.created }}</td>
							<td style="text-align: center;">{{ attachment.updated }}</td>
							<td style="text-align: center; border-left: 1px dashed #F9F1CF;"><a href="{% static attachment.attachment_file_path %}" Download>Pobierz</a></td>
							<td style="text-align: center;"><a href="{% url 'connection:delete-attachment' attachment.id %}">Usuń</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	<div>
		<small><a href="{% url 'connection:add-attachment' %}">[Dodaj załącznik]</a></small>
	</div>
	{% endif %}

</div>
{% endblock %}
