{% extends 'main.html' %}

{% block content %}
{% if renovations %}
    <div class="content">
        <small>Kliknij w "<span style="color: #FFDA8B;">Szczegóły</span>" w tabeli by uzyskać więcej informacji.</small>
    </div>
{% endif %}

<div class="content">
	<div class="grid_display">
		<h2>Podsumowanie remontów</h2>
        {% if not all_renovations %}
            <div class="half_col_white"><p>Brak zachowanych informacji.</p></div>
            <p><a href="{% url 'renovation:add-renovation' %}">[Dodaj remont]</a></p>
        {% else %}

            {% if all_renovations|length > 5 %}
                <div class="order_search">
                    <form action="{% url 'renovation:renovations' %}">
                        <div>Sortuj tabelę:</div>
                        <select id="sort_main_table" name="sort_data">
                            <option value="-updated">---</option>
                            <option value="name">Nazwa (od A do Z)</option>
                            <option value="-name">Nazwa (od Z do A)</option>
                            <option value="start_date">Rozpoczęcie remontu (od najstarszych)</option>
                            <option value="-start_date">Rozpoczęcie remontu (od najnowszych)</option>
                            <option value="estimated_cost">Szacunkowy koszt (rosnąco)</option>
                            <option value="-estimated_cost">Szacunkowy koszt (malejąco)</option>
                        </select>
                        <p style="margin-left: 10px;">i/lub szukaj według frazy*:</p>
                        <input type="search" name="q" placeholder="Wpisz wyraz lub liczbę całkowitą" onfocus="this.placeholder=''" onblur="this.placeholder='Wpisz wyraz lub liczbę całkowitą'">
                        <button type="submit">Zastosuj</button>
                    </form>
                </div>
            {% endif %}

            <div class="basic_table">
                <table id="tbl_exporttable_to_xls">
                    <thead>
                        <tr>
                            <td>Nazwa</td>
                            <td style="border-left: 1px dashed #136568; text-align:center;">Szacunkowy koszt remontu</td>
                            <td style="text-align:center;">Poniesione koszty remontu</td>
                            <td style="border-left: 1px dashed #136568; text-align:center;">Rozpoczęcie remontu</td>
                            <td style="text-align:center;">Zakończenie remontu</td>
                            <td style="text-align:center;">Czas trwania remontu</td>
                            <td style="border-left: 1px dashed #136568;">Szczegóły</td>
                            <td>Edytuj</td>
                            <td>Usuń</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for renovation in renovations %}
                        <tr>
                            <td>{{ renovation.name }}</td>
                            <td style="text-align:center; border-left: 1px dashed #F9F1CF">{{ renovation.estimated_cost|default_if_none:"---" }}</td>
                            <td style="text-align:center;">{{ renovation.get_all_costs|default_if_none:"---" }}</td>
                            <td style="border-left: 1px dashed #F9F1CF; text-align:center;">{{ renovation.start_date|default_if_none:"---" }}</td>
                            <td style="text-align:center;">{{ renovation.end_date|default_if_none:"---" }}</td>
                            <td style="text-align:center;">{{ renovation.get_renovation_time_in_days|default_if_none:"---" }} {% if renovation.get_renovation_time_in_days == 1 %} dzień {% elif renovation.get_renovation_time_in_days > 1 %} dni {% else %} {% endif %}</td>
                            <td class="row_access" style="border-left: 1px dashed #F9F1CF"><a href="{% url 'renovation:single-renovation' renovation.id %}">Szczegóły</a></td>
                            <td><a href="{% url 'renovation:edit-renovation' renovation.id %}">Edytuj</a></td>
                            <td><a href="{% url 'renovation:delete-renovation' renovation.id %}">Usuń</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if all_renovations|length > 5 %}<div class="footnote">* Przeszukiwane kolumny: nazwa, szacunkowy koszt remontu (szukana kwota większa lub równa wskazanej).</div>{% endif %}
            <p><a href="{% url 'renovation:add-renovation' %}">[Dodaj remont]</a> |<button class="export_button" onclick="ExportToExcel('xlsx')">[Eksportuj tabelę]</button></p>
        {% endif %}
    </div>
</div>
{% endblock content%}