{% extends 'main.html' %}

{% block content %}
<div class="content" style="max-width: 1500px;">
    <article>
        <section>
            <div class="text">
                <h2>Kontakt</h2>
                <p style="text-align: center;">Serwis Memento jest wyłącznie projektem szkoleniowym.</p>
                <p style="text-align: center;">Kontakt z serwisem możliwy pod adresem: <a href="mailto:serwis.memento@gmail.com">serwis.memento@gmail.com</a>.</p>
                <small style="text-align: center;">Będziemy wdzięczni za zgłaszanie wszelkich problemów i błędów związanych z działaniem serwisu. Rzadko jednak odwiedzamy pocztę serwisu, liczymy więc na wyrozumiałość w korzystaniu z udostępnionych funkcjonalności.</small>
            </div>
            <br>
        </section>
    </article>
</div>
{% endblock content %}
