{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="form_img"><img src="{% static 'images/vecteezy_man-sending-electronic-mail-to-customer-email-marketing-and_15133888_660_SMALL.jpg' %}" alt="Foto"/></div>
        <h2>Zresetuj hasło</h2>
        <p>(Krok 1 z 4)</p>
        {% comment %} <form method="post" action="{% url 'reset-password' %}"> {% endcomment %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="form_field">
                <div class="one_field">
                    <p>Zresetowanie hasła spowoduje wysłanie na podany email linka z możliwością ustaniwienia nowego hasła dla użytkownika.</p>
                    <div class="label_field">Podaj email:</div>
                    <input class="text_field" type="email" name="email" placeholder="Adres email"/>
                </div>
                <div class="one_field">
                    <input type="submit" value="Zresetuj hasło"/>
                </div>
            </div>
        </form>
        <div class="text_field">
            <p>Nie chcesz resetować hasła? <a href="{% url 'user-profile' %}"><button class="button">Powrót</button></a></p>
        </div>
    </div>
{% endblock content %}