{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="form_img"><img src="{% static 'images/vecteezy_businessman-showing-concept-system-protection-and-access-to_9377698_730_SMALL.jpg' %}" alt="Foto"/></div>
        <h2>Hasło zresetowane</h2>
        <p>(Krok 4 z 4)</p>
        <div class="form">
            <div class="form_field">
                <p>Twoje hasło zostało zresetowane.</p>
                <p><a href="{% url 'login' %}"><button>Zaloguj się</button></a></p>
            </div>
        </div>
    </div>
{% endblock content %}