{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="form_img"><img src="{% static 'images/vecteezy_digital-security-unlock-or-encryption-concept-secure-login_13039252_74_SMALL.jpg' %}" alt="Foto"/></div>
        <h2>Reset hasła</h2>
        <p>(Krok 2 z 4)</p>
        <div class="form">
            <div class="form_field">
                <p>Instrukcje wraz z linkiem do zresetowania hasła zostały wysłane na podany adres mailowy.</p>
                <p>Odwiedź swój email i postępuj zgodnie z instrukcjami celem zresetowania hasła.</p>
            </div>
        </div>
    </div>
{% endblock content %}