{% extends 'main.html' %}

{% block content %}
    <div class="content" style="max-width: 1500px;">
        <h2>Regulamin strony Memento</h2>
        <div class="text">
            <ol>
                <li>Serwis Memento to wyłącznie projekt szkoleniowy.</li>
                <li>Użytkownik może korzystać z funkcjonalności oferowanych przez serwis Memento zgodnie z powszechnymi zasadami korzystania z zawartości serwisów internetowych, wyłącznie na własny użytek i na własną odpowiedzialność.</li>
                <li>Wszelkie dane gromadzone i przechowywane w serwisie Memento przez Użytkownika, są przekazywane dobrowolnie i wykorzystywane przez Użytkownika wyłącznie w celach, do jakich został powołany serwis Memento
                    (zarządzanie swoimi płatnościami, planami i obowiązkami, a także współdzielenie wybranych informacji z innymi Użytkownikami).</li>
                <li>Serwis Memento nie gwarantuje ciągłości działania serwisu, ani nie odpowiada za wykorzystanie serwisu niezgodnie z prawem i/lub przyjętymi normami społecznymi przez jego Użytkowników.</li>
                <li>Wykorzystanie pomysłu do serwisu oraz kopiowanie użytych w serwisie rozwiązań jest zabronione.</li>
            </ol>
        </div>

        <br><hr><br>

        <h2>Polityka ochrony danych osobowych</h2>
        <div class="text">
            <ol>
                <li>Odbiorcą i administratorem danych osobowych jest Serwis Memento. Kontakt z serwisem jest możliwy pod adresem: serwis.memento@gmail.com.</li>
                <li>Dane osobowe przetwarzane będą w celu:</li>
                <ul>
                    <li>weryfikacji użytkownika celem udzielenia dostępu do zasobów portalu,</li>
                    <li>kontaktu, pomocy i wsparcia w przypadku wystąpienia problemów lub awarii.</li>
                </ul>
                <li>Dane osobowe będą przechowywane do czasu usunięcia konta przez Użytkownika lub do czasu utrzymania serwisu.</li>
                <li>Osoba przekazująca dane osobowe ma prawo dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych,
                    prawo wniesienia sprzeciwu, prawo do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem.</li>
                <li>Osoba przekazująca dane osobowe ma prawo wniesienia skargi do organu nadzorczego – Prezesa Urzędu Ochrony Danych Osobowych.</li>
                <li>Podanie jakichkolwiek danych osobowych jest dobrowolne. Wypełnienie formularza rejestracji jest warunkiem koniecznym do uzyskania dostępu do treści i funkcjonalności portalu Memento.</li>
            </ol>
        </div>
    </div>
{% endblock %}
