{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="content">
    <div class="grid_display">
        <h2>Załączniki</h2>

        {% if not attachments %}
            <div class="half_col_white"><p>Brak zachowanych informacji.</p></div>
            <p><a href="{% url 'connection:add-attachment' %}">[Dodaj załącznik]</a></p>
        {% else %}
            <div class="basic_table">
                <table id="tbl_exporttable_to_xls">
                    <thead>
                        <tr>
                            <td colspan="4" style="text-align: center; border-right: 1px dashed #136568; border-bottom: 1px dashed #136568;">Informacje o załączniku</td>
                            <td colspan="2" style="text-align: center; border-right: 1px dashed #136568; border-bottom: 1px dashed #136568;">Operacje na załączniku</td>
                            <td rowspan=2 style="text-align: center; border-bottom: 1px dashed #136568;">Udzielony dostęp do danych</td>
                            {% comment %}<td colspan="7" style="text-align: center; border-left: 1px dashed #136568; border-bottom: 1px dashed #136568;">Powiązane informacje</td>{% endcomment %}
                        </tr>
                        <tr>
                            <td>Nazwa pliku</td>
                            <td>Informacja o pliku</td>
                            <td style="text-align: center; border-left: 1px dashed #136568;">Data dokumentu</td>
                            <td style="text-align: center; border-right: 1px dashed #136568;">Data dodania</td>
                            <td>Pobierz</td>
                            <td style="border-right: 1px dashed #136568;">Usuń</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attachment in attachments %}
                            <tr>
                                <td style="border-left: 1px dashed #F9F1CF;">{{ attachment.attachment_name }}</td>
                                <td>{% if attachment.file_info == 'None' or attachment.file_info == "" %}---{% else %}{{ attachment.file_info }}{% endif %}</td>
                                <td style="border-left: 1px dashed #F9F1CF; text-align: center;">{{ attachment.file_date|default_if_none:"---" }}</td>
                                <td style="text-align: center;">{{ attachment.created }}</td>

                                <td style="border-left: 1px dashed #F9F1CF;">
                                    {% comment %}<a href="{% static attachment.attachment_file_path %}" Download>Pobierz</a>{% endcomment %}
                                    {% comment %}<a href="{{ attachment.attachment_path.url }}" Download>Pobierz</a>{% endcomment %}
                                    <a href="{% url 'connection:download-attachment' attachment.user.profile.slug attachment.id %}" >Pobierz</a>
                                </td>
                                <td style="border-right: 1px dashed #F9F1CF;"><a href="{% url 'connection:delete-attachment' attachment.id %}">Usuń</a></td>

                                <td class="row_access" style="text-align: center;">
                                    {% if attachment.access_granted == 'Brak dostępu' %}
                                        {{ attachment.access_granted }}
                                    {% elif profile.access_granted_to == 'None' or profile.access_granted_to == '' or profile.access_granted_to == None %}
                                        <a href="{% url 'edit-account' %}">Uzupełnij email</a> <i class="fa-solid fa-pen-to-square" style="color: rgba(18, 30, 40);"></i>
                                    {% else %}
                                        {{ profile.access_granted_to }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p><a href="{% url 'connection:add-attachment' %}">[Dodaj załącznik]</a> |<button class="export_button" onclick="ExportToExcel('xlsx')">[Eksportuj tabelę]</button></p>
        {% endif %}

    </div>
</div>
{% endblock content%}